<div class="margin-bottom-20" block-bind="toolbar"></div>
<div block-bind="content" class="col-md-12">
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2"><label>Port</label></div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:port" />
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Server</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:server_name" placeholder="192.168.111.222"/>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Page URL</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:assigned_page" />
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Tenant ID</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:tenant_id" />
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Tenant Name</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:tenant_name" />
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Coupon Prefix</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:coupon_prefix" />
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Address</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<input type="text" class="form-control" data-bind="value:address" />
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col-md-2">			
			<label>Note</label>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<textarea class="form-control" rows="10" data-bind="value:note"></textarea>
		</div>
	</div>
</div>